<div class="signin">

<form action="/signin" method="post">
  <input type="email" name="mail" class="in" placeholder="Eメール"><br>
  <input type="password" name="password"  class="in" placeholder="パスワード"><br>
 <input type="submit" class="button btnblue insmall" value="ログイン">
</form>

</div>
