<div class="signup">

<form action="/signup" method="post">
  <input type="email" name="mail" class="in"  placeholder="E-mail"><br>
  <input type="password" name="password" class="in" placeholder="Password"><br>
   <input type="password" name="password_confirmation" class="in"  placeholder="Check"><br>
 <input type="submit" class="button btngreen insmalls" value="New registration"><br>
</form>

</div>