

.top {
    text-align: center;
    background-color: #E2DDEE;
    padding: 15em;
    height: 780px;
}

.asterisk {
	margin: 0 0 0 0.2em;
	color: #f5637a;
}



.left{
  text-align: left;
}

h1{
  color:#6F76A2;
  font-size: 50px

}

h2 {
    color:white;
    font-size: 25px;

}



h3 {
  color:white;
  font-size: medium;
  text-align: left;
}

p {
    color:brown;
    font-size: large;
    font-weight: 200;
    text-align: center;
    font-family: font-demo1;
}


a {
    color: blue;
    font-size: 35px;
    margin-right: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

.moziutikomi{
  width: 400px;
  height: 50px;
  color: black;
}


textarea{
  width: 400px;
  color: black;
  height: 120px;
}

.tiisame{
  font-size: 20px;
}
.yoko
{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 150px;
}

.yoko2
{
  float: left;
  align-items: center;
}

.yoko form  span{
  vertical-align: middle;
}

.box9 {
    background-color: 	#dddddd;
    display: flex;
}
.box9 p {
    margin: 0;
    padding: 0;
}

.waku {
  border: 13px solid #fff


}


.maru {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-flow: column;
  vertical-align: top;
}
/* 円の大きさ */
.size_normal{
  width: 60px;
  height: 60px;
}
/* 文字の大きさ */
.letter3 {
  font-size: 3em;
  line-height: 1.5em;
}
/* 円と文字の色 */
.red1 {
  color: #DF013A;
  border: 4px solid #D5573B;
  font-size: 24px;
  font-weight: bold;
}

.blue2 {
  color:blue;
  border: 4px solid #623CEA;

   font-size: 24px;
  font-weight: bold;
}


.btn-flat-logo {
  position: relative;
  display: inline-block;
  font-weight: bold;
 text-align: center;
 padding-top: 10px;
  margin-top: 20px;
  text-decoration: none;
  color: #FFF !important;
  font-size: 15px;
  background: #00bcd4;
  transition: .4s
 ; ;
 width: 150px;
height: 50px;
}

.btn-flat-logo:hover {
  background: #1ec7bb;
}



.btn-gradient-3d-simple {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  color: #ffffff;
  background-image: linear-gradient(#dda0dd 0%, #dda0dd 100%);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  width: 70px;
  height: 40px;
  font-size: large;
}

.btn-gradient-3d-simple:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

 .square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #F67E7D;/*左線*/
    color: #C98BB9;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    text-align: center;
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}


.square_btn2{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    border-left: solid 6px #483d8b
;/*左線*/
    color: #4b0082;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.square_btn:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
    transform: translateY(2px);
}

.form {
  margin: auto;
  width: 500px;
}



.edit {
  background-color:#E2DDEE;
    padding: 15em;
    height: 780px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
     text-align: center;
     padding-top: 26em;

}





.signin {

    background-color: #E2DDEE;
    padding: 15em;
    height: 780px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
     text-align: center;
     padding-top: 26em;
}

.in {
  height: 40px;
 width: 300px;
margin-top: 10px;
font-size: 20px;
}

.insmall{
  width: 100px;
  margin-top: 100px;
}



.signup {
  background-color: #E2DDEE;
    padding: 15em;
   height: 780px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
     text-align: center;
     padding-top: 26em;
}

button, input[type="submit"] {

}

.button{
  display: block;
  text-decoration: none;
  height:50px;
  width: 150px;
  line-height: 37px;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
}

.button.button_fix {
  background: white !important;
    border: none !important;
    padding: 10px 30px !important;
    font-size: 20px !important;;
    text-align: center !important;
}

.btnorange{
  color: brown;
  background: #D3917E;

}
.btnorange:hover{
  background: #fff;
  color: #D3917E;
  border:solid 1px #D3917E;
}

.btnpink{
  background: pink;
  color: white;
}

.btnpink:hover {
  background: white;
  color: pink;

}

.btngreen{
  color: brown;
  background: #B3D4B3;
  margin-top: 20px;
}
.btngreen:hover{
  background: #fff;
  color: #B3D4B3;
  border:solid 1px #B3D4B3;
}

.btnblue{
  color:brown;
  background: #84a2d4;
  margin-top: 20px;
}
.btnblue:hover{
  background: #fff;
  color:#84a2d4;
  border:solid 1px #84a2d4;
}


input [type ="submit"]{
  color:brown;
  background: #84a2d4;
}
.btnpink:hover{
  background: #fff;
  color:#84a2d4;
  border:solid 1px #84a2d4;
}